@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mukta:wght@500&family=Roboto+Condensed&display=swap');

html, body {
   overflow-x: hidden;
}
#mainTitle {
    float: left;
    font-size: 15vw;
    color: white;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}  
#titles {
    z-index: 1002;
}
nav {
    z-index: 1001;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
#mainDesc {
    float: left;
    font-size: 3.5vw;
    color: white;
    animation: slideup-fadein 1s ease-out forwards;
}
@keyframes slideup-fadein {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.container {
    height: 100%;
    text-align: center;
}
.nav-link {
    color: white;
    font-family: Roboto Condensed;
    float: right;
    margin-left: 3vh;
    margin-right: 3vh;
}
.navbar-fixed-top.scrolled {
    background-color: #ecfafc !important;
    transition: background-color 200ms linear;
}
#top {
    background: linear-gradient(to bottom, rgba(252, 252, 252, 0.52), rgba(103, 147, 235, 0.73));
    background-size: 100% 100%;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 80%;
    z-index: -1;
}
#mynavBar {
    float: right;
}
#divider {
    margin-top: -101vh;
    position: absolute;
    width: 100%;
    height: 101vh;
    background: transparent;
    overflow: hidden;
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("./images/wave.png");
    background-size: 1000px 100px;
}
section .wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("./images/wave.png");
    background-size: 1000px 100px;
}
section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5 ;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;
} 
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

#content {
    background-color: white;
    /* 025e9f*/
    text-align: center;
}
#content {
    padding: 15vh;
    padding-bottom: 0vh;
}
.container h1 {
    font-size: 6vh;
}

.container h3 {
    color: rgb(95, 95, 95);
}

#introImg {
    height: 50%;
    width: 60%;
}

.text {
    color: rgb(95, 95, 95);
}

#productBtn {
    margin-top: 7vh;
    z-index: 2000;
    float: left;
    height: 10vh;
    width: 30vh;
    font-size: 2.5vw;
    color:rgb(95, 95, 95);
}

#floor {
    position: relative;
    margin-left: -15vh;
    width: 100vw;
    height: 20%;
}
#home {
    font-family: Arial;
    color: white;
}
#desc {
    display: flex;
    justify-content: space-around;
}
#desc img {
    margin-right: 10vh;
    margin-top: 5vh;
}
#vertical {
    text-align: left !important;
    margin-top: 10vh;
    display: table-column;
}
